<h2 class="center">Manual add a new Tv show</h2>
<form [formGroup]="newTvShowForm" (ngSubmit)="addNewTvShow()">
  <div class="row">
    <div class="col m6">
      <div class="input-field">
        <input id="title" [ngClass]="{'invalid': newTvShowForm.controls.title.invalid && (newTvShowForm.controls.title.dirty || newTvShowForm.controls.title.touched)}" type="text" formControlName="title" [customErrors]="customError" class="validate">
        <label for="title">Title</label>
      </div>
      <div class="col m6">
        <app-numeric-control label="Year" formControlName="year"></app-numeric-control>
      </div>
      <div class="col m6">
        <app-numeric-control label="Runtime" formControlName="runtime"></app-numeric-control>
      </div>
      <div class="col m6">
        <app-numeric-control label="Seasons" formControlName="seasons"></app-numeric-control>
      </div>
      <div class="col m6">
        <app-numeric-control label="Episodes" formControlName="episodes"></app-numeric-control>
      </div>
    </div>
    <div class="col m6">
      <div class="input-field">
        <textarea id="overview"  [ngClass]="{'invalid': newTvShowForm.controls.overview.invalid && (newTvShowForm.controls.overview.dirty || newTvShowForm.controls.overview.touched)}"  type="text" class="materialize-textarea" cols="50" rows="10"
                  formControlName="overview"></textarea>
        <label for="overview">Overview</label>
      </div>
      <div class="input-field">
        <input type="text"  [ngClass]="{'invalid': newTvShowForm.controls.posterUrl.invalid && (newTvShowForm.controls.posterUrl.dirty || newTvShowForm.controls.posterUrl.touched)}" id="posterUrl" formControlName="posterUrl">
        <label for="posterUrl">Poster url</label>
      </div>
    </div>
  </div>
  <div class="row">
    <input class="btn " type="submit" value="Create">
  </div>
</form>
