<div class="row">
  <div class="col s12 m12 ">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{foundMovie?.poster}}">
        <span class="card-title">{{foundMovie?.title}}</span>
      </div>
      <div class="card-stacked">
        <div class="card-content ">
          <!-- Use this for every property of a movie, just copy and paste -->
          <div class="row">
            <span class="col s1">Title:</span>
            <span class="col s5">{{foundMovie?.title}}</span>
            <span class="col s1">Plot:</span>
            <span class="col s5">{{foundMovie?.plot}}</span>
          </div>
          <div class="row">
            <span class="col s1">Rating:</span>
            <span class="col s5">
              <circle-progress [percent]="foundMovie?.rating * 10"></circle-progress>
              </span>
            <span class="col s6">RunTime:{{foundMovie?.runtime}}</span>
          </div>
          <div class="row">
            <span class="col s1">Seen:</span>
            <span class="col s5">{{foundMovie?.seen}}</span>
            <span class="col s1">Year:</span>
            <span class="col s5">{{foundMovie?.year}}</span>
          </div>
        </div>
        <div class="card-action">

          <a class="btn" routerLink="/movie/add">Go Back</a>
          <a class="btn" (click)="openDialog(foundMovie)">Save to my private collection</a>
        </div>

      </div>
    </div>
  </div>

