<h1>Welcome to the media app</h1>
<div class="row">
  <div class="card col m5">
    <div class="card-title">Go to my Movie collection</div>
    <div class="card-action">
      <button class="btn" [routerLink]="['/movie/home']">Movies</button>
    </div>
  </div>

  <div class="card col m5 offset-m2" >
    <div class="card-title">Go to Tv Show Watchlist</div>

    <div class="card-action">
      <button class="btn" [routerLink]="['/tvshow/home']">Tv Show</button>
    </div>
  </div>
</div>
