<div class="row">
  <div class="col s12 m12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{foundTvShow?.poster}}">
        <span class="card-title">{{foundTvShow?.title}}</span>
      </div>
      <div class="card-stacked">
        <div class="card-content ">
          <div class="row">
            <span class="col s1">Title:</span>
            <span class="col s5">{{foundTvShow?.title}}</span>
            <span class="col s2">OverView:</span>
            <span class="col s4">{{foundTvShow?.overview}}</span>
          </div>
          <div class="row">
            <span class="col s6">Runtime:{{foundTvShow?.runtime}}</span>
          </div>
          <div class="row">
            <span class="col s1">Status:</span>
            <span class="col s5">{{foundTvShow?.status}}</span>
            <span class="col s1">Year:</span>
            <span class="col s5">{{foundTvShow?.year}}</span>
          </div>
        </div>

        <div class="card-action">
          <a class="btn" routerLink="/tvshow/home">Go Back</a>
          <a class="btn" (click)="openDialog(foundTvShow)">Save to my watchlist</a>
        </div>
      </div>
    </div>
  </div>
