.choose-quantity {
  display: inline-flex;
  align-items: center;
}

.quantity {
  padding-left: 10px;
  padding-right: 10px;
}

.primary {
  background-color: cornflowerblue
}

.choose-quantity-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
