<!--<form (ngSubmit)="search(formElement)" #formElement="ngForm" >-->
<!--  <label>Search a title</label>-->
<!--  <input name="title" ngModel-->
<!--         [ngClass]="{'invalid': !formElement.valid && !formElement.pristine && !formElement.untouched}" required-->
<!--         minlength="2"/>-->
<!--  <p class="invalid-red" *ngIf="formElement.form.controls.title.errors?.required">The input field is required</p>-->
<!--  <p class="invalid-red" *ngIf="formElement.form.controls.title.errors?.minlength">Title must be at least 2 characters. The current length is {{formElement.form.controls.title.errors?.minlength?.actualLength}}</p>-->
<!--  <input class="waves-effect waves-light btn" type="submit" value="Send" [disabled]="!formElement.valid"/>-->
<!--</form>-->
<app-search [title]="title" (searchedItem)="search($event)"></app-search>
<h1>Found movies online</h1>
<app-list [myItemList]="movies" (selected)="addMovieToCollectionAndGotToDetail($event)"></app-list>


