<form #loginForm="ngForm" ngForm (ngSubmit)="login(loginForm.value)" class="col m12">
  <div class="row">
    <div class="input-field col m6">
      <input id="user"
             type="text"
             ngModel name="username" class="validate" required>
      <label for="user">User</label>
      <span class="helper-text" data-error="Username is required"></span>
    </div>
    <div class="input-field col m6">
      <input id="password"
             type="password"
             ngModel name="password" class="validate" required>
      <label for="password">Password</label>
      <span class="helper-text" data-error="Password is required"></span>
    </div>
  </div>
  <div class="row">
    <input class="waves-effect waves-light btn" value="Login" type="submit">
  </div>
</form>
