<ul class="collection">
  <li class="collection-item avatar" *ngFor="let item of myItemList ">

    <a (click)="showDetail(item)">
      <img src="{{item.poster}}" alt="{{item.title}}"/>
      <div class="top">
        <span class="title">{{item.title}}</span>
        <p>Year:{{item.year}}</p>
      </div>
    </a>

    <a class="secondary-content waves-effect waves-light btn" *ngIf="showDelete" (click)="deleteItem(item)">Delete</a>
  </li>
</ul>
