<div class="navbar-fixed">
  <mat-menu #movies="matMenu">
    <a mat-menu-item routerLink="movie/home">Movie list</a>
    <a mat-menu-item (click)="navigateToAdd()">Add a movie</a>
  </mat-menu>
  <mat-menu #tvShows="matMenu">
    <a mat-menu-item routerLink="tvshow/home">TvShow home</a>
    <a mat-menu-item routerLink="tvshow/add">Add a TvShow to WatchList</a>
    <a mat-menu-item routerLink="tvshow/new">Manual add a TvShow to WatchList</a>
  </mat-menu>
  <mat-menu #demo="matMenu">
    <a mat-menu-item routerLink="demo/ngtemplate">NgTemplate</a>
    <a mat-menu-item routerLink="demo/ngtemplateparentchild">NgTemplate child parent relation</a>
    <a mat-menu-item routerLink="demo/viewchild-parent-child">ViewChild child parent relation</a>
    <a mat-menu-item routerLink="demo/viewchild-directive">ViewChild with directive</a>
  </mat-menu>
<!--  <a mat-menu-item routerLink="experiment">Experiment</a>-->

  <nav>
    <div class="nav-wrapper">
      <span class="brand-logo center" [routerLink]="['/home']">{{title}}</span>
      <span style="padding-right: 15px" class="right" *ngIf="loginService.user">Welcome: {{loginService.user}}</span>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a [matMenuTriggerFor]="movies">Movies</a>
        </li>
        <li>
          <a [matMenuTriggerFor]="tvShows">TvShows</a>
        </li>
        <li>
          <a [matMenuTriggerFor]="demo">demo</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="loginService.loggedIn"><a (click)="logout()">logout</a></li>
        <li *ngIf="!loginService.loggedIn"><a [routerLink]="['/login']">login</a></li>
      </ul>
    </div>
  </nav>

</div>
